<div class="left">
  <ul class="left-top">
    <%- include("./leftTopItems.ejs", {key : "امتیاز", value : "0", color
    :"rgb(89, 216, 248)", img : "coins.png"}) %> <%-
    include("./leftTopItems.ejs", {key : "هشدار ها", value : "0", color :
    "#e6e61c", img : "warning.png"}) %> <%- include("./leftTopItems.ejs", {key :
    "پیام ها", value : "0", color : "rgb(236, 96, 96)", img : "chat.png"}) %>
  </ul>
</div>
