<li>
  <div class="left-top-image" style="background-color: <%= color %>">
    <img src="/media/icons/<%= img %>" alt="" style="width: 40px" />
  </div>
  <div class="left-top-info">
    <p><%= key %></p>
    <p><%= value %></p>
  </div>
</li>
