<li>
  <div class="left-top-image" style="background-color: <%= color %>">
    <img src="" alt="" />
  </div>
  <div class="left-top-info">
    <p><%= key %></p>
    <p><%= value %></p>
  </div>
</li>
