<div class="left">
  <ul class="left-top">
    <li>
      <div class="left-top-image">
        <img src="" alt="" />
      </div>
      <div class="left-top-info">
        <p>امتیاز</p>
        <p>0</p>
      </div>
    </li>

    <li>
      <div class="left-top-image">
        <img src="" alt="" />
      </div>
      <div class="left-top-info">
        <p>هشدار ها</p>
        <p>0</p>
      </div>
    </li>

    <li>
      <div class="left-top-image">
        <img src="" alt="" />
      </div>
      <div class="left-top-info">
        <p>پیام ها</p>
        <p>0</p>
      </div>
    </li>
  </ul>
</div>
