<div class="right">
  <div class="right-main">
    <div class="right-main-info">
      <div class="user-info">
        <p id="username"><%= user.username %></p>
        <p id="rank"><%= user.userRank %></p>
      </div>
      <img src="/media/icons/profile-image.svg" alt="" id="profile-image" />
    </div>
  </div>
</div>
