<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/fonts.css" />

    <title>AriDorri login page</title>
  </head>
  <body>
    <%- include("./templates/header.ejs") %> <% for(const key in flash){ %>

    <span role="alert" class="flash"> <%= flash[key] %> </span>

    <% } %>

    <div id="login-main">
      <form action="/login" method="post">
        <h1 style="float: left">ورود</h1>
        <div>
          <input type="text" name="username" placeholder="نام کاربری" />
          <input type="password" name="password" placeholder="کلمه عبور" />
        </div>
        <button type="submit">ورود</button>
      </form>
    </div>
  </body>
</html>
