<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/fonts.css" />

    <title>AriDorri login page</title>
  </head>
  <body>
    <div id="login-main">
      <form action="/login" method="post">
        <div style="width: 100%">
          <a href="/" style="float: left; width: 40%">Home</a>
          <h1 style="float: left">Login</h1>
        </div>
        <div>
          <input type="text" name="username" placeholder="Username" />
          <input type="text" name="password" placeholder="Password" />
        </div>
        <button type="submit">Login</button>
      </form>
    </div>
  </body>
</html>
