.right {
  width: 300px;
  height: 90vh;
  min-height: 600px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-main {
  background-color: white;
  border-radius: 10px;
  width: 90%;
  height: 95%;
  float: right;
}

.right-main-info {
  width: 93%;
  margin: 10px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 1px solid rgb(232, 232, 232);
}

#profile-image {
  width: 60px;
  float: right;
}

.right-main-info > div > p {
  text-align: right;
}

#username {
  font-size: 19px;
}

#rank {
  color: gray;
  font-weight: lighter;
  font-size: 15px;
}

.user-info {
  margin-right: 10px;
}

.left-top > li {
  background-color: white;
  float: right;
  margin: 20px;
  padding: 7px;
  width: 300px;
  border-radius: 7px;
}

.left-top > li:first-child > .left-top-image {
  background-color: rgb(89, 216, 248);
}

.left-top > li:last-child > .left-top-image {
  background-color: rgb(245, 245, 99);
}

.left-top > li:not(:last-child):not(:first-child) > .left-top-image {
  background-color: rgb(236, 96, 96);
}

.left-top-image {
  border-radius: 7px;
  width: 60px;
  height: 60px;
  display: block;
}

.left-top-info {
  margin-right: 10px;
  text-align: right;
}

.left-top-info > p:last-child {
  color: rgb(100, 100, 100);
}

.left-top > li > div {
  float: right;
}

.right-main-items {
  margin-top: 15px;
  width: 100%;
}

.right-main-item > a {
  margin: 5px;
  border-radius: 5px;
  padding: 5px 10px;
  text-align: right;
  display: block;
}

.right-main-item > a:hover {
  background-color: rgb(246, 246, 246);
}
