*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(226, 226, 226);
}

li{
    list-style: none;
}

.btn{
    float: right;
    border: 1px solid gray;
    background-color: transparent;
    padding: 2px 5px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-danger{
    background-color: rgba(255, 0, 0, 0.125);
    color: rgb(145, 4, 4);
    border: 1px solid rgb(255, 0, 0);
}

.btn-success{
    border-radius: 1px solid green;
    background-color: rgba(0, 255, 0, 0.164);
    color: rgb(0, 82, 0);
}