.suggest{
    float: left;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 350px;
    height: 100px;
    margin: 10px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
}

.suggest > p:first-child{
    font-size: 20px;
}

.suggest > p:last-child{
    background-color: rgb(226, 226, 226);
    padding: 5px;
    border-radius: 5px;
    color: rgb(96, 96, 96);
    word-break: break-all;
    overflow: scroll;
    height: 55px;
    /* box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1); */
}