.user {
  background-color: white;
  padding: 10px;
  border-radius: 7px;
  width: 90%;
  height: 100px;
  margin: 10px;
}

.user-right {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100%;
  width: 50%;
  float: right;
}

.user-right > img {
  width: 80px;
  float: right;
}

.user-right > div {
  float: right;
  margin-right: 10px;
  text-align: right;
}

.user-right > div > p:first-child {
  font-size: 20px;
}

.user-right > div > p:last-child {
  color: rgb(139, 139, 139);
}

.left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  float: right;
}

.user-left-bottom {
  margin-top: 30px;
}
