<link rel="stylesheet" href="/css/header.css" />

<header>
  <div class="header-left">
    <a href="/">
      <h1>AriDorri</h1>
    </a>

    <div>
      <% if(!user){ %>
      <a href="/login" class="header-login">Login</a>
      <a href="/register" class="header-login" style="margin-left: 0"
        >Register</a
      >
      <% }else{ %>
      <a href="/dashboard" class="header-login">Dashboard</a>
      <% } %>
    </div>
  </div>
  <div class="header-right">
    <ul class="menu">
      <li class="menu-subItem"><a href="/twitch">Live Stream</a></li>
    </ul>
  </div>
</header>
