<link rel="stylesheet" href="/css/header.css" />

<header>
  <div class="header-left">
    <a href="/">
      <h1>AriDorri</h1>
    </a>

    <div>
      <% if(!user){ %>
      <a href="/login" class="header-login">ورود</a>
      <a href="/register" class="header-login" style="margin-left: 0"
        >ثبت نام</a
      >
      <%}%>
    </div>
  </div>
  <div class="header-right">
    <ul class="menu">
      <li class="menu-subItem"><a href="/twitch">استریم</a></li>
      <li class="menu-subItem"><a href="/dashboard">داشبورد</a></li>
    </ul>
  </div>
</header>
