<link rel="stylesheet" href="/css/header.css">

<header>
    <div class="header-left">
        <h1>AriDorri</h1>
    </div>
    <div class="header-right">
        <ul class="menu">
            <li class="menu-subItem"><a href="/about-us">About us</a></li>
            <li class="menu-subItem"><a href="/twitch">Live Stream</a></li>
        </ul>
    </div>
</header>