{
    "app" : {
        "secret" : "SECRET",
        "port" : 80
    },

    "errors" : {
        "403" : {
            "code" : 403,
            "msg" : "You dont have permission for access to this page."
        }
    },

    "socials" : {
        "instagram" : "https://www.instagram.com/aridorri_st",
        "telegram" : "https://t.me/aridorri_st",
        "youtube" : "https://www.youtube.com/channel/UC-o3zn7ovrmdtHa2vekvhRQ",
        "discord" : "https://discord.gg/N9KbK9NrW3",
        "reymit" : "https://reymit.ir/aridorri",
        "paypal" : "https://streamelements.com/aridorri/tip"
    },

    "db" : {
        "name" : "aridorri",
        "username" : "root",
        "password" : "root"
    }
}
